body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #2b2b2b; /* Тёмный стиль IntelliJ */
  color: white;
  font-family: "JetBrains Mono", monospace;
}

#toolbar {
  background: #3c3f41;
  padding: 6px 10px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #222;
}

#toolbar button {
  background: #4c5052;
  border: none;
  color: #ddd;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#toolbar button:hover {
  background: #64686a;
}

#workspace {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#editor {
  flex: 1;
}

#console {
  background: #1e1e1e;
  border-top: 2px solid #333;
  padding: 10px;
  height: 150px;
  overflow-y: auto;
  font-size: 13px;
}
